body {
	margin:0;
	font-family:arial;
}

ul {
	list-style:none;
	margin:0;
}
li {
	padding: 0;
}

/**	
*
*	Layout
*
*/

.navigation {
	width:20%;
	float:left;
}

.view {
	width:80%;
	float:left;
}

/**
*
*	List item
*
*/

.JobItem {
	margin-bottom:20px;
	border: 1px solid;
	padding:10px;
}

.group:after {
	content:"";
	display:block;
	clear: both;
}