<div class="form-new_role">
  <form class="form">
    <h1>New role</h1>
    <input id="client" placeholder="Client" type="text">
    <input id="location" placeholder="Location" type="text">
    <input id="salary" placeholder="Salary" type="text">
    <input id="agent" placeholder="Agent" type="text">
    <textarea id="description" cols="30" rows="10">Description</textarea>
    <input type="submit" value="Save">
  </form>
  <div class="msg-submit_success">
  	<p>Role added</p>
  	<a href="#">Add another?</a>
  	<a href="/">Return</a>
  </div>
</div>